/* Registration.css */
.registration-container {
    width: 400px;
    margin-top: 60px !important;
    border-radius: 20px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.toggle-password {
    font-size: 25px;
    right: 39%;
    transform: translateY(20%);
    cursor: pointer;
    position: absolute;
}